.pulpit-container {
  position: relative;
  width: 100%;
  height: 100%;
  @include themed() {
    background-color: t($bg-secondary);
  }

  display: flex;
  flex-flow: row wrap;
  overflow-y: auto;
  border-radius: 8px;
  overflow: hidden;
}
