.input-text {
  padding: 15px;
  border: 1px solid gray;
  border-radius: 10px;
  width: 100%;
  background-color: transparent;
  @include transition(border-color);
}

.window-wrapper.focused .input-text {
  &:focus,
  &:hover {
    border-color: lightgray;
  }
}
