.input-text {
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  background-color: transparent;
  @include themed() {
    color: t($text-primary);
    border: 1px solid t($border-color);
  }
}

.window-wrapper.focused .input-text {
  &:focus {
    @include themed() {
      // border-color: transparent;
    }
  }
}
