.button {
  padding: 8px;
  border: 1px solid gray;
  border-radius: 10px;
  @include transition(border-color);
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;

  svg {
    width: 25px;
  }

  &:disabled {
    border-color: grey;
    filter: grayscale(1);
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    border-color: lightgrey;
  }

  .icon {
    pointer-events: none;
    user-select: none;
  }
}
