.calculator-display {
  color: $color-secondary;
  height: 160px;
  margin-bottom: 4px;
  display: flex;
  width: 100%;

  .helper {
    position: absolute;
    top: 60px;
    left: 0;
  }
  .preview {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .small {
    font-size: 14px;
    color: gray;
    user-select: none;
    text-wrap: nowrap;
  }

  .large {
    width: 100%;
    text-align: end;
    white-space: nowrap;
    font-size: 40px;
  }
}
