.nav-tabs {
  display: flex;
  gap: 10px;
  overflow-x: visible;

  .nav-tabs-item {
    padding: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    text-wrap: nowrap;
    border: none;
    cursor: pointer;
    position: relative;
    @include transition('background-color, color');
    @include themed() {
      color: t($text-primary);
    }

    &.active {
      color: $bg-blue-dark;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $bg-blue-dark;
        border-radius: 4px 4px 0 0;
      }
    }
    &:hover {
      color: $bg-blue-dark;
    }
    &:focus {
      outline: none;
    }
  }
}
