.input-checkbox-container {
  display: flex;
  align-items: center;

  .input-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .input-label {
    margin: 0;
    margin-left: auto;
    cursor: pointer;
    width: 60px;
    min-width: 60px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }

  .input-label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(50% - 10px);
    height: calc(100% - 10px);
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  .input-checkbox:checked + .input-label {
    background: $bg-blue-dark;
  }

  .input-checkbox:checked + .input-label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  .input-label:active:after {
    width: 35px;
  }
}
