.calculator-key {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  user-select: none;
  @include transition(background-color);
  @include themed() {
    color: t($text-primary);
    border: 1px solid t($border-color);
    border-bottom: 2px solid t($border-color);
  }
}

.key-light {
  @include themed() {
    background-color: t($bg-secondary);
  }
  &:hover {
    @include themed() {
      background-color: t($bg-primary);
    }
  }
}

.key-dark {
  @include themed() {
    background-color: t($bg-primary);
  }

  &:hover {
    @include themed() {
      background-color: t($bg-secondary);
    }
  }
}

.key-equals {
  color: white !important;
  background-color: $bg-blue-light;

  &:hover {
    background-color: $bg-blue-dark;
  }
}
@for $r from 1 through 6 {
  @for $c from 1 through 4 {
    .order-#{$r}-#{$c} {
      grid-row-start: $r;
      grid-column-start: $c;
    }
  }
}
