.tasks-container {
  height: 100%;
  display: flex;
  flex-flow: column;
  gap: 10px;

  .tasks-nav {
    display: flex;
    padding: 10px 15px 0;
    flex: 0 0 auto;
    border-bottom: 1px gray solid;

    .add-list-button {
      text-wrap: nowrap;
      border: none;
    }
  }

  .carousel-container {
    flex: 1 0 0;
    overflow-y: hidden;
    padding: 0 15px;

    .carousel {
      overflow-y: hidden;
      display: flex;
      height: 100%;
      overflow-x: hidden;
    }
  }
}

.window-wrapper.focused .tasks-container {
  .add-todo-form {
    background-color: $bg-gray-dark-active;
  }
}
