.todo-container {
  display: flex;
  align-items: center;
  width: 100%;
  // background-color: gray;
  padding: 4px;

  .todo-checkbox {
    appearance: none;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;

    &:checked {
      background-color: #007bff;
      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        content: '\2713';
        font-size: 20px;
        line-height: 20px;
        color: white;
      }
    }
  }
  .todo-name {
  }

  .todo-buttons {
    display: flex;
    gap: 5px;
    margin-left: auto;

    .button {
      padding: 8px;
      height: 40px;

      &.edit {
      }

      &.remove {
      }
    }
  }
}
