.todo-container {
  display: flex;
  width: 100%;
  gap: 15px;

  .todo-checkbox-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 15px;

    .todo-checkbox {
      align-self: flex-start;
      width: 30px;
      height: 30px;
      flex: 0 0 auto;
      margin: 5px 0;
      appearance: none;
      border: 1px solid #ccc;
      border-radius: 50%;
      outline: none;
      cursor: pointer;

      &:checked {
        background-color: $bg-blue-dark;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
          content: '\2713';
          font-size: 20px;
          line-height: 20px;
          color: white;
        }
      }
    }

    .todo-name {
      flex-grow: 1;
      word-break: keep-all;
    }
  }

  .todo-buttons {
    display: flex;
    gap: 5px;

    .button {
      padding: 8px;
      height: 40px;

      // &.edit {
      // }

      // &.remove {
      // }
    }
  }
}
