.todo-container {
  display: flex;
  align-items: center;
  width: 100%;

  // .todo-checkbox {
  //   appearance: none;
  //   width: 30px;
  //   height: 30px;
  //   border: 1px solid #ccc;
  //   border-radius: 4px;
  //   outline: none;
  //   cursor: pointer;

  //   &:checked {
  //     background-color: #007bff;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;

  //     &::after {
  //       content: '\2713';
  //       font-size: 26px;
  //       line-height: 26px;
  //       color: white;
  //     }
  //   }
  // }
  .todo-name {
  }
  .todo-button {
    margin-left: auto;
    .edit {
    }
    .remove {
    }
  }
}
