.window-wrapper.focused .icon-svg {
  stroke: white;

  &.active {
    stroke: $bg-blue-dark;
  }
  &.white {
    stroke: white;
  }
  &.danger {
    stroke: $bg-red;
  }
}

.window-wrapper .icon-svg {
  stroke: gray;
}

.icon-svg.loader-svg {
  animation: loadingRotate 1s linear infinite;
}

.close-svg {
  transition: 0.1s ease transform;

  &:hover {
    transform: scale(1.2);
  }
}

.little-arrow {
  fill: white;

  &.active {
    fill: $bg-blue-dark;
  }
  &.white {
    fill: white;
  }
  &.danger {
    fill: $bg-red;
  }
}
