.minimalized-app {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  user-select: none;
  @include transition(background-color);
  transition-property: border-color, background-color;
  padding: 2px;

  &.focused {
    background-color: $bg-primary-active;

    &:hover {
      border: 1px solid gray;
      background-color: $bg-gray-dark-active;
    }
  }

  &:hover {
    border: 1px solid gray;
    background-color: $bg-gray-light-active;
  }

  .icon {
    margin: 0 5px;
  }

  .label {
    font-size: 16px;
    text-wrap: nowrap;
    margin: 0 5px;
  }

  .close {
    @include transition(background-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    padding: 10px;

    &:hover {
      background-color: $bg-red;
    }
  }
}
