.minimalized-app {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  user-select: none;
  padding: 2px;
  @include transition('border-color, background-color');
  @include themed() {
    background-color: t($bg-primary);
  }

  &:hover {
    @include themed() {
      border: 1px solid t($border-color);
    }
  }

  &.focused {
    @include themed() {
      background-color: lighten(t($bg-primary), 4%);
    }

    &:hover {
      @include themed() {
        border: 1px solid t($border-color);
      }
    }
  }

  .icon {
    margin: 0 5px;
    pointer-events: none;
    user-select: none;
  }

  .label {
    font-size: 16px;
    text-wrap: nowrap;
    margin: 0 5px;
  }

  .close {
    @include transition('background-color, color');
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    padding: 10px;
    @include themed() {
      color: t($text-primary);
    }

    &:hover {
      background-color: $bg-red;
      color: white;
    }
  }
}
