.list-container {
  flex: 1 0 0;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-flow: column;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}
